---
import * as interfaces from '../../lib/interfaces.ts'
import {
  getPosts,
  getAllPosts,
  getRankedPosts,
  getPostBySlug,
  getPostsByTag,
  getAllTags,
} from '../../lib/notion/client.ts'

import {
  getPostLink,
} from '../../lib/blog-helpers.ts'

import Layout from '../../layouts/Layout.astro'
import PostDate from '../../components/PostDate.astro'
import PostTags from '../../components/PostTags.astro'
import PostTitle from '../../components/PostTitle.astro'
import PostBody from '../../components/PostBody.astro'
import PostRelativeLink from '../../components/PostRelativeLink.astro'
import BlogPostsLink from '../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../components/BlogTagsLink.astro'
import PostFeaturedImage from '../../components/PostFeaturedImage.astro'
import styles from '../../styles/blog.module.css'

// ⭐ API BASE を読み込み
const API_BASE = import.meta.env.PUBLIC_API_BASE_URL;

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post: interfaces.Post) => ({ params: { slug: post.Slug } }));
}

const { slug } = Astro.params;

// 投稿情報
const post = await getPostBySlug(slug);
if (!post) {
  throw new Error(`Post not found. slug: ${slug}`);
}

// ⭐ Workers API から Blocks を取得する
const blocksRes = await fetch(`${API_BASE}/post/${post.PageId}`);
const blocksJson = await blocksRes.json();
const blocks = blocksJson.results || [];

// 他データ取得
const [allPosts, rankedPosts, recentPosts, tags, postsHavingSameTag] =
  await Promise.all([
    getAllPosts(),
    getRankedPosts(),
    getPosts(5),
    getAllTags(),
    getPostsByTag(post.Tags[0]?.name, 6),
  ]);

const currentPostIndex = allPosts.findIndex((p) => p.Slug === slug);
const prevPost = allPosts[currentPostIndex + 1];
const nextPost = allPosts[currentPostIndex - 1];

// OGP 画像
let ogImage = '';
if (post.FeaturedImage && post.FeaturedImage.Url) {
  ogImage = post.FeaturedImage.Url;
}
---

<Layout
  title={post.Title}
  description={post.Excerpt}
  path={getPostLink(post.Slug)}
  ogImage={ogImage}
>
  <div slot="main" class={styles.main}>
    <div class={styles.post}>
      <PostDate post={post} />
      <PostTags post={post} />
      <PostTitle post={post} enableLink={false} />
      <PostFeaturedImage post={post} />

      <!-- ⭐ Workers API から取得した blocks を表示 -->
      <PostBody blocks={blocks} />

      <PostTags post={post} />

      <footer>
        <PostRelativeLink prevPost={prevPost} nextPost={nextPost} />
      </footer>
    </div>
  </div>

  <div slot="aside" class="aside">
    <BlogPostsLink
      heading="Posts in the same category"
      posts={postsHavingSameTag.filter(
        (p: interfaces.Post) => p.Slug !== post.Slug
      )}
    />
    <BlogPostsLink heading="Recommended" posts={rankedPosts} />
    <BlogPostsLink heading="Latest posts" posts={recentPosts} />
    <BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>
