---
import styles from '@/styles/blog.module.css'

import Layout from '@/layouts/Layout.astro'

import {
  getAllPosts,
  getPostBySlug,
  getPostWithNeighbors,
  getBlocks
} from '@/lib/notion/client'

import { getPostLink } from '@/lib/blog-helpers'

import PostDate from '@/components/PostDate.astro'
import PostTags from '@/components/PostTags.astro'
import PostTitle from '@/components/PostTitle.astro'
import PostBody from '@/components/PostBody.astro'
import PostRelativeLink from '@/components/PostRelativeLink.astro'

export async function getStaticPaths() {
  const posts = await getAllPosts()

  return posts
    .filter(post => post.PageType === 'post')
    .map(post => ({
      params: { slug: post.Slug },
    }))
}

const { slug } = Astro.params

const post = await getPostBySlug(slug)
if (!post) {
  throw new Error(`Post not found: ${slug}`)
}

const blocks = await getBlocks(post.PageId)

const isPage = post.PageType === 'page'

const ogImage = post?.Cover ?? ''

const { prev: prevPost, next: nextPost } =
  await getPostWithNeighbors(slug)

---


<Layout
  title={post.Title}
  description={post.Excerpt}
  path={getPostLink(post.Slug)}
  ogImage={ogImage}
  noindex={post.PageType === 'page'}
  >

  <div slot="main" class={styles.main}>
      <!-- Display post date and tags -->
      <article class={styles.post}>
        {!isPage && <PostDate post={post} />}
        {!isPage && <PostTags post={post} />}
        <PostTitle post={post} enableLink={false} />
      
      <div class={styles.imageWrapper}>
        <img
          src={post.WorkImage?.Url ?? "/images/no-image.png"}
          alt={post.Title}
          class={styles.workImage}
        />
      </div>
      
      <PostBody blocks={blocks} />
        {!isPage && 
          <PostTags post={post} />}
        {!isPage && (
          <footer>
            <PostRelativeLink prevPost={prevPost} nextPost={nextPost} />
          </footer>
        )}
      </article>
  </div>
</Layout>

<style>
  .information-links {
    margin-bottom: 2rem;
  }

  .information-links h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .information-links ul {
    list-style: none;
    padding: 0;
  }

  .information-links li {
    margin-bottom: 0.25rem;
  }
</style>